/* Brand Colors ------------------------------------------------*/
$font-dark-transp: rgba(5, 9, 47, 0.7);
$font-dark: #0B1142;
$font-light: #F0F2FF;
$white-transp: rgba(255, 255, 255, 0.3);
$blue-transp: rgba(111, 185, 248, 0.3);
$blue: #6ABAFD;
$section-blue-transp: rgba(106, 186, 253, 0.5);
$section-blue: #6fb9f8;
$section-light: #F7F9FD;
$dark-blue: #0087fb;
